@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--primary-color: #5e9fa3; /* Define your primary color */
	--secondary-color: #b05574; /* Define your secondary color */
	--accent-color: #b39c82; /* Define your accent color */
	--text-color: #333; /* Define default text color */
	--background-color: #fff; /* Define default background color */
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body,
html {
	background: white;
	font-family: var(--font-poppins);
}

.pattern-stitch {
	--s: 30px; /* control the size */
	--c1: theme("colors.pattern.one.one"); /* Primary light color */
	--c2: theme("colors.pattern.one.two"); /* Secondary color */
	--c3: theme("colors.pattern.one.three"); /* Accent color */
	--c4: theme("colors.pattern.one.four"); /* Additional color, assuming gray.200 is defined in your Tailwind config */

	background: conic-gradient(at 50% calc(100% / 6), var(--c1) 60deg, transparent 0),
		conic-gradient(at calc(100% / 6) 50%, transparent 240deg, var(--c1) 0),
		conic-gradient(from 180deg at calc(100% / 6) calc(500% / 6), var(--c1) 60deg, transparent 0),
		conic-gradient(from 180deg at calc(500% / 6), transparent 240deg, var(--c1) 0) calc(4 * 0.866 * var(--s)) 0,
		repeating-linear-gradient(-150deg, var(--c2) 0 calc(100% / 6), transparent 0 50%),
		repeating-linear-gradient(-30deg, var(--c3) 0 calc(100% / 6), var(--c4) 0 50%);
	background-size: calc(6 * 0.866 * var(--s)) calc(3 * var(--s));
}

.pattern-trap {
	--s: 76px; /* control the size */
	--c1: theme("colors.pattern.one.two");
	--c2: theme("colors.pattern.one.five");
	--c3: theme("colors.pattern.one.four");
	--c4: theme("colors.pattern.one.one");

	background: conic-gradient(from 150deg, var(--c1) 60deg, #0000 0 180deg, var(--c2) 0 240deg, #0000 0) var(--s) 0,
		conic-gradient(
			from -30deg,
			var(--c1) 60deg,
			var(--c3) 0 120deg,
			var(--c4) 0 180deg,
			var(--c2) 0 240deg,
			var(--c3) 0 300deg,
			var(--c4) 0
		);
	background-size: calc(2 * var(--s)) var(--s);
}

.pattern-tri {
	--s: 160px; /* control the size*/
	--c1: theme("colors.pattern.two.five");
	--c2: theme("colors.pattern.two.four");
	--c3: theme("colors.pattern.two.two");

	background: conic-gradient(from 15deg at 86.6%, var(--c3) 25%, var(--c2) 0 150deg, #0000 0),
		conic-gradient(from -75deg at 50% 13.39%, var(--c1) 60deg, var(--c3) 0 150deg, var(--c2) 0 210deg, #0000 0),
		conic-gradient(
			from 15deg at 36.6% 63.4%,
			var(--c1) 60deg,
			var(--c3) 0 150deg,
			var(--c1) 0 210deg,
			var(--c2) 0 75%,
			var(--c3) 0
		);
	background-size: var(--s) var(--s);
}

.pattern-diamond {
	--s: 100px; /* control the size */
	--c1: theme("colors.pattern.one.five");
	--c2: theme("colors.pattern.two.one");
	--c3: theme("colors.pattern.one.four");

	--_g: #0000, var(--c1) 1deg 30deg, var(--c2) 31deg 89deg, var(--c1) 90deg 119deg, #0000 120deg;
	background: conic-gradient(from -60deg at 50% 28.86%, var(--_g)),
		conic-gradient(from 30deg at 71.14% 50%, var(--_g)), conic-gradient(from 120deg at 50% 71.14%, var(--_g)),
		conic-gradient(from 210deg at 28.86% 50%, var(--_g)) var(--c3);
	background-size: var(--s) var(--s);
}

.pattern-hatch {
	--s: 30px; /* size of the lines */
	--g: 40px; /* gap between lines */

	--c1: theme("colors.pattern.two.five");
	--c2: theme("colors.pattern.two.four");
	--c3: theme("colors.pattern.two.one");

	background: conic-gradient(at var(--s) calc(100% - var(--s)), #0000 270deg, var(--c1) 0) calc(var(--s) + var(--g)) 0,
		linear-gradient(var(--c2) var(--s), #0000 0) 0 var(--g),
		conic-gradient(at var(--s) calc(100% - var(--s)), #0000 90deg, var(--c2) 0 180deg, var(--c1) 0), var(--c3);
	background-size: calc(2 * (var(--s) + var(--g))) calc(2 * (var(--s) + var(--g)));
}

.pattern-head {
	--s: 60px; /* control the size */
	--c1: theme("colors.pattern.three.two");
	--c2: theme("colors.pattern.three.four");
	--c3: theme("colors.pattern.three.one");

	--_s: calc(2 * var(--s)) calc(2 * var(--s));
	--_g1: var(--_s) conic-gradient(at calc(500% / 6) 50%, var(--c3) 25%, #0000 0);
	--_g2: var(--_s) conic-gradient(at calc(200% / 3) 50%, var(--c2) 25%, #0000 0);
	background: var(--s) var(--s) / var(--_g1), 0 0 / var(--_g1), var(--s) var(--s) / var(--_g2), 0 0 / var(--_g2),
		repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
		linear-gradient(var(--c1) calc(100% / 3), var(--c2) 0 calc(200% / 3), var(--c3) 0) 0 0 / var(--s) var(--s);
}
